# Copyright (c) 2019 - 2021 Vestas Wind Systems A/S
# SPDX-License-Identifier: Apache-2.0

menuconfig CANOPEN
	bool "CANopen protocol support"
	depends on CAN
	help
	  Enable CANopen (EN 50325-4) (CiA301) protocol
	  support.

if CANOPEN

module = CANOPEN
module-str = CANopen
source "subsys/logging/Kconfig.template.log_config"

choice CANOPEN_STACK
	prompt "CANopen Stack"

config CANOPEN_STACK_CANOPENNODE
	bool "CANopenNode"
	select CANOPENNODE
	help
	  CANopenNode stack.

config CANOPEN_STACK_NATIVE
	bool "Native [EXPERIMENTAL]"
	select SMF
	select SMF_ANCESTOR_SUPPORT
	select SMF_INITIAL_TRANSITION
	select EXPERIMENTAL
	help
	  Zephyr native CANopen stack.

endchoice # CANOPEN_STACK

if CANOPEN_STACK_NATIVE

config CANOPEN_SHELL
	bool "CANopen shell"
	depends on SHELL
	select CANOPEN_OD_INFO
	help
	  Enable the CANopen shell module.

config CANOPEN_OD_INFO
	bool "Store CANopen object dictionary information"
	help
	  Store CANopen object dictionary information in an iterable section. This allows object
	  dictionary clients (e.g. the CANopen shell module) to automatically discover the available
	  CANopen object dictionaries at run-time.

config CANOPEN_NMT_EVENT_MSGQ_SIZE
	int "Network Management (NMT) event message queue size"
	default 10
	help
	  Number of per-instance NMT events that can be queued for the finite-state machine.

config CANOPEN_NMT_THREAD_STACK_SIZE
	int "Network Management (NMT) thread stack size"
	default 1024
	help
	  Size of the stack used for the NMT finite-state machine thread.

config CANOPEN_NMT_THREAD_PRIO
	int "Network Management (NMT) thread priority"
	default 10
	help
	  Priority level for the NMT finite-state machine thread.

endif # CANOPEN_STACK_NATIVE

endif # CANOPEN
