# STM32H735G DISCOVERY board configuration

# Copyright (c) 2021 SILA Embedded Solutions GmbH
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32H735G_DISCO

config BOARD
	default "stm32h735g_disco"

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config INPUT
	default y if LVGL

config INPUT_FT5336_INTERRUPT
	default y if INPUT_FT5336

# MEMC needs to be enabled in order to store
# display buffer to external SDRAM connected to FMC
config MEMC
	default y if DISPLAY

endif # BOARD_STM32H735G_DISCO
