# Kconfig - Holyiot YJ-16032 board configuration
#
# Copyright (c) 2018 Henrik Brix Andersen <henrik@brixandersen.dk>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_NRF52_HOLYIOT_YJ16032
	bool "Holyiot YJ-16032"
	depends on SOC_NRF52832_QFAA
