# Kconfig - Holyiot YJ-16032 board configuration
#
# Copyright (c) 2018 Henrik Brix Andersen <henrik@brixandersen.dk>
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_HOLYIOT_YJ16032

endif # BOARD_HOLYIOT_YJ16032
